ul{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    height: 20px;
    width: 800px;
    border-radius: 5px;
    box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.671);
}
section:target
{
    display: block;
}
section:not(:target)
{
    display: none;
}
h1{
    border-radius: 40px;
  
    font-size: 40px;
    position: relative;
   
    
}
li
{
   list-style: none;
   margin: 10px;
 
   width: 60px;
   height: 20px;
 
   
}
img{
    width: 100px;
    height: 100px;
}

button{
    background-color: black;
    color: white;
    border-radius: 5px;
    box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.135);
    width: 100px;
}
a{
    text-decoration: none;
}
.main 
{
    border-radius: 5px;
    display: flex;
    border:rgb(128, 128, 128) solid;
   height: 500px;
   box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.135);
   background-color: rgba(127, 255, 212, 0.542);
}
.Prodcut1 ,.Prodcut2
{
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
     background-color: white;
    padding: 20px;
    left: 200px;
    height: 100px;
    margin: 60px;
    justify-content: space-around;
    box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.135);
    width:900px
    
    
}
#footer
{
    display: flex;
    border:rgb(128, 128, 128) solid;
    background-color: whitesmoke;
    border-radius: 5px;
}
#text
{
    border-radius: 5px;
    margin: 5px;
}
.sp
{
    border-radius: 5px;
    padding: 10px;
    box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.135);
    padding: 40px;
    margin: 10px;
    background-color: rgb(127, 255, 212);

}
.Summary
{
    position: relative;
    right: 200px;
    padding: 60px;
    background-color: white;
    box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.135);
    padding-left: 50px;
    margin: 40px;
    border-radius: 5px;
    margin-left: 300px
    
    
}